---
layout: default
---

<div class="text">
  <h2>Identify your watermark</h2>

  <div class="text-center">
    Each watermark has different variants and subvariants - there are<br/>
    some watermarks that are so similar they are twins. The diagram<br/>
    above is an example of the various variants and subvariants for one<br/>
    watermark.
  </div>
  <br/>
  <div class="text-center">
    Answer the following <strong>yes / no</strong> questions and establish exactly what<br/>
    watermark is on your print.  Below are various watermarks ... select one to<br/>
    start.
  </div>
  <br/>
  <br/><br/>

  <div class="row">
    <div class="col-md-3">
      <div id="sample-title-and-img">
        <span id="sample-title">Your<br/>Watermark</span>
        <br/>
        <img id="sampleImage">
      </div>
    </div>

    <div class="col-md-9">
      <div class="d-flex flex-row justify-content-center flex-wrap" style="overflow:scroll;height:500px">
        {% for branch in site.data.branches %}
          <div class="p-2 watermarkButton">
            <figure>
              {% if branch[1].image %}
                <a href="{{ site.baseurl }}/{{ branch[0] }}/{{ branch[1].start }}.html">
                  <img src="{{ site.baseurl }}/{{ branch[0] }}/images/{{ branch[1].image }}.png" class="active">
                </a>
              {% else %}
                <img src="{{ site.baseurl }}/assets/placeholder.png" class="inactive">
              {% endif %}
              <figcaption>{{ branch[1].name }}</figcaption>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  const sampleImage = sessionStorage.getItem("sample");
  const sampleImageTag = $("#sampleImage")[0];
  sampleImageTag.src = sampleImage;
</script>