---
layout: default
---

<script src="{{ site.baseurl }}/assets/mm.js"></script>
<div class="text">
  <h2>Identify your watermark</h2>
  <p>
    Select the watermark type that best approximates your watermark from the choices below. Then answer the questions to establish a match.
  </p>
  <div class="d-flex flex-row flex-wrap">
    {% for branch in site.data.branches %}
      <div class="p-2 watermarkButton">
        <figure>
          {% if branch[1].image %}
            <a href="{{ site.baseurl }}/{{ branch[0] }}/index.html">
              <img src="{{ site.baseurl }}/{{ branch[0] }}/images/{{ branch[1].image }}.png" class="active">
            </a>
          {% else %}
            <img src="{{ site.baseurl }}/assets/placeholder.png" class="inactive">
          {% endif %}
          <figcaption>{{ branch[1].name }}</figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
</div>
