body {
  font-family: 'Crimson Text', serif;
  margin: 0 auto;
  padding: .5em 1em;
}


.container-fluid {
  background-color: black;
  padding: 5em;
}

#logo {
  height: 68px;
}

ul {
    family-font: 'Crimson Text', serif;
    list-style-type: none;
    margin: 10;
    padding: 0;
    padding-top:10;
    overflow: hidden;
}

li {
    float: left;
    font-family: 'Crimson Text', serif;
    margin-left: 12%;
}

li a {
    display: block;
    color: black;
    text-align: center;
}

a.selected {
  font-style: italic;
}

a:hover {
  color: lightblue;
}

.text {
  opacity: 1.0;
  margin:100px;
  text-align: center;
}

.text h2 {
  font-size: 48pt;
  font-style: italic;
}

.container {
  opacity: 1.0;
  margin-left:10%;
  margin-right:10%;
  text-align: center;
  color: white;
}

.container h2 {
  font-size: 34pt;
  margin-left: 10%;
  margin-right: 10%;
  font-style: italic;
  color: white;
  font-weight: normal;
}

