body {
  font-family: 'Crimson Text', serif;
  margin: 0 auto;
  padding: .5em 1em;
}

nav {
  margin-top:1%;
  margin-bottom: 1%;
}

.container-fluid {
  background-color: black;
  padding: 5em;
}

#logo {
  height: 68px;
}

.nav ul {
  family-font: 'Crimson Text', serif;
  list-style-type: none;
  margin: 10;
  padding: 0;
  padding-top:10;
  overflow: hidden;
}

.nav li {
  float: left;
  font-family: 'Crimson Text', serif;
  margin-left: 6%;
  margin-right: 6%;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
}

.nav a.selected {
  font-style: italic;
}

.nav a:hover {
  color: lightblue;
}

.text {
  opacity: 1.0;
  margin:100px;
  text-align: center;
}

h2 {
  font-size: 48pt;
}

.container-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url("../assets/eMuseumJpgseMuseum2010.-2019NoCopyright2014.020.jpg");
  background-size: cover;
  display:block;
  background-size:100%;
  background-repeat:no-repeat;
  height: 150hv;
  font-family: 'Crimson Text', serif;
  text-align: center;
  color: white;
  opacity: 1;
  padding: 2%;
}

.text_index {
  opacity: 1;
  color: white;
  text-align:center;
  margin: 5%;
  font-style: normal;
}

.container-fluid.footer {
  padding: 2%;
  font-color: white;
  font-family:'Crimson Text', serif;
  text-align: center;
  bottom: 0;
}

.btn.btn-primary {
  clear: both;
  border: none;
  background-color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  font-style: normal;
  padding: 30px;
  text-align: center;
  display: inline-block;
}

.button {
  background-color: white;
  box-shadow: 0 .7em .9em 0 rgba(0,0,0,0.24), 0 1em 3em 0 rgba(0,0,0,0.19);
  color: black;
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: .8em 0;
  text-align: center;
  text-decoration: none;
  width: 12em;
}

.button:hover {
  background-color: lightgray;
}

.watermarkButton figure {
  display: block;
  float: left;
  margin-left: 0.5em;
  margin-top: 0;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.watermarkButton figure:hover {
  cursor: pointer;
}

.watermarkButton figcaption {
  text-align: center;
}

.watermarkButton img {
  height: 150px;
  width: 120px;
  border-radius: 25px;
}

.watermarkButton img.inactive {
  height: 150px;
  width: 120px;
  border-radius: 25px;
  opacity: 0.5;
}
