---
layout: default
---

{% assign url_elts = page.path | split: "/" %}
{% assign branch_pos = url_elts | size | minus: 2 %}
{% assign branch_slug = url_elts[branch_pos] %}
{% assign branch_name = site.data.branches[branch_slug].name %}
{% assign diagram = site.data.branches[branch_slug].diagram %}
{% assign slug = page.path | split: "/" | last | split: "." | pop | join: "." %}

<span id="sample" draggable="true">
  <div id="sample-title-and-img">
    <span id="sample-title">Your<br/>Watermark</span>
    <br/>
    <img>
  </div>
</span>

{{ content }}

<script>
  sessionStorage.last = "{{ slug }}";
  const sampleImage = sessionStorage.getItem("sample");
  const sampleImageTag = $("#sample img")[0];
  sampleImageTag.src = sampleImage;

  // Set position
  var samplePos;
  if (!sessionStorage.samplePos) {
    sessionStorage.setItem("samplePos", JSON.stringify({ left: "0px", top: "100px" }));
  }
  var dm = document.getElementById('sample');
  samplePos = JSON.parse(sessionStorage.getItem("samplePos"));
  dm.style.left = samplePos.left;
  dm.style.top = samplePos.top;

  // Stolen from https://stackoverflow.com/questions/6230834/html5-drag-and-drop-anywhere-on-the-screen
  function drag_start(event) {
    var style = window.getComputedStyle(event.target, null);
    event.dataTransfer.setData("text/plain",
      (parseInt(style.getPropertyValue("left"),10) - event.clientX)
      + ','
      + (parseInt(style.getPropertyValue("top"),10) - event.clientY)
    );
  }

  function drag_over(event) {
    event.preventDefault();
    return false;
  }

  function drop(event) {
    var offset = event.dataTransfer.getData("text/plain").split(',');
    var dm = document.getElementById('sample');
    dm.style.left = (event.clientX + parseInt(offset[0],10)) + 'px';
    dm.style.top = (event.clientY + parseInt(offset[1],10)) + 'px';
    event.preventDefault();
    sessionStorage.setItem("samplePos", JSON.stringify({ left: dm.style.left, top: dm.style.top }));
    return false;
  }

  var dm = document.getElementById('sample');
  dm.addEventListener('dragstart',drag_start,false);
  document.body.addEventListener('dragover',drag_over,false);
  document.body.addEventListener('drop',drop,false);
</script>