---
layout: default
---

{% assign url_elts = page.path | split: "/" %}
{% assign branch_pos = url_elts | size | minus: 2 %}
{% assign branch_slug = url_elts[branch_pos] %}
{% assign branch_name = site.data.branches[branch_slug].name %}
{% assign diagram = site.data.branches[branch_slug].diagram %}
{% assign slug = page.path | split: "/" | last | split: "." | first %}

<div class="container">
  <div class="row">
    <div class="col-6 left">
      <h3>User's image to be matched</h3>
    </div>
    <div class="col-6 right">
      <h2>{{ branch_name }}</h2>
      {{ content }}
      <hr/>
      {% if diagram != "disabled" %}
        <a class="button" href="diagram.html">See branch diagram</a>
      {% endif %}
      <a class="button" href="{{ page.parent }}.html">↩ Back one step</a>
      <a class="button" href="index.html">↻ Restart this branch</a>
    </div>
  </div>
</div>
<script>
  sessionStorage.last = "{{ slug }}";
  const image = sessionStorage.image;
  const elem = document.createElement("img");
  elem.setAttribute("src", image);
  const left = document.getElementsByClassName("left")[0];
  left.appendChild(elem);
</script>