---
layout: default
---

{% assign url_elts = page.path | split: "/" %}
{% assign branch_pos = url_elts | size | minus: 2 %}
{% assign branch_slug = url_elts[branch_pos] %}
{% assign branch_name = site.data.branches[branch_slug].name %}
{% assign diagram = site.data.branches[branch_slug].diagram %}
{% assign slug = page.path | split: "/" | last | split: "." | pop | join: "." %}

<script type="text/javascript">
  $(document).ready(function() {
    if ($('glossary').length) {
      Tipped.create('glossary', $('<img src=images/glossary.png>'));
    }
  });
  </script>

{{ content }}
