---
layout: default
---

{% assign url_elts = page.path | split: "/" %}
{% assign branch_pos = url_elts | size | minus: 2 %}
{% assign branch_slug = url_elts[branch_pos] %}
{% assign branch_name = site.data.branches[branch_slug].name %}

<div class="text">
  <h2>{{ branch_name }} — Demo</h2>
  <p>Choose a comparative watermark image to classify using the {{ branch_name }} Decision Branch.</p>
  <p>Answer the questions provided to determine a match.</p>

  <div class="d-flex flex-row flex-wrap">
    {% for demo in page.demos %}
      <div class="p-2 watermarkButton">
        <figure>
          <img onclick=init("images/fixedwidth/{{ demo }}.png") src="images/fixedwidth/{{ demo }}.png">
          <figcaption>Option {{ forloop.index }}.</figcaption>
        </figure>
      </div>
    {% endfor %}

    <a class="button" href="../start/index.html">↻ Choose another watermark type</a>

  </div>
</div>
<script>
  function init(image) {
    sessionStorage.image = image;
    window.location.href = "{{ page.start }}.html";
  }
</script>